@model Tissuez.Models.SearchCommand
@using (Html.BeginForm("List", "Issues", FormMethod.Post))
{
    @Html.TextBoxFor(m => m.RepositoryOwner, new { placeholder = "owner", type = "search"})
    @Html.TextBoxFor(m => m.RepositoryName, new { placeholder = "repository", type = "search"})
    @Html.TextBoxFor(m => m.ApiKey, new { placeholder = "(optional) your apikey", type = "search"})
    <button type="submit" class="btn btn-primary" value="find">find</button>
    
}

<hr />